<!-- Template Macro -->
{% macro template() %}
{% endmacro template %}


<!-- Meta Macro -->
{% macro meta(title, description) %}
  <title>
    {{ title }}
  </title>
  <meta name="description" content="{{ description }}" />
{% endmacro meta %}

<!-- Page Summary Macro -->
{% macro page_summary(page) %}
  <article class="mx-4">
    <h1 class="text-4xl font-bold">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </h1>
    <div class="mt-2">
      {{ page.date | date(format="%B %d, %Y", timezone="Asia/Kolkata") }} 
      - {{ page.word_count }} words
      - {{ page.reading_time }} min read
    </div>
    <div class="mt-1 text-gray-600">
      {% for tag in page.taxonomies.tags %}
        <a href="/tags/{{ tag }}">#{{ tag }}</a>
      {% endfor %}
    </div>
    <div class="mt-4 markdown-content">
      {{ page.summary | safe }}
    </div>
    <a href="{{ page.permalink | safe }}" class="block my-6 font-bold">
      Read More&nbsp;
      <i class="fas fa-long-arrow-alt-right"></i>
    </a>
  </article>
  <hr class="my-8">
{% endmacro page_summary %}


<!-- Paginator Navigation Macro -->
{% macro paginator_navigation(paginator) %}
  <div class="text-center mt-16">
    {% if paginator.previous %}
      <a  href="{{ paginator.previous }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-3 px-4 rounded inline-flex items-center">
        <i class="fas fa-arrow-left"></i>
        <span class="pl-2">Newer Posts</span>
      </a>
    {% endif %}
    {% if paginator.next %}
      <a  href="{{ paginator.next }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-3 px-4 rounded inline-flex items-center">
        <span class="pr-2">Older Posts</span>
        <i class="fas fa-arrow-right"></i>
      </a>
    {% endif %}
  </div>
{% endmacro paginator_navigation %}
